In [1]:
import sys
import os

sys.path.append(os.getcwd() + '/correlation')

import correlation as co

In [2]:
file1 = "test/SSA_births_2000-2014.csv"
file2 = "test/tester.csv"

print("file1: ", file1)
print("file2: ", file2)

ct1 = co.Container(filename=file1)
ct2 = co.Container(filename=file2)

ct1.resolve_dates(combine={"year":"year", "month":"month", "day":"date_of_month"})
ct1.add_each_year(date_col="ISO date", col_name="births")

ct3 = ct1.combine(ct2, x1="year", x2="year", y1="births", y2="data")

print(ct3)

file1:  test/SSA_births_2000-2014.csv
file2:  test/tester.csv
File <test/SSA_births_2000-2014.csv> given
File <test/tester.csv> given
Container (15 rows) {0: 'year', 1: 'births', 2: 'data', 3: 'normalized births', 4: 'normalized data'}

In [3]:
file3 = "test/corrTest.csv"

ct4 = co.Container(filename=file3)

ct4.normalize_column(col_name=["divorces","margarine"])

#ct4.normalize_column(col_name="margarine")

#ct4.active=("normalized divorces", "normalized margarine")

print(ct4, ct4.df)

File <test/corrTest.csv> given
Container (10 rows) {0: 'date', 1: 'divorces', 2: 'margarine', 3: 'normalized divorces', 4: 'normalized margarine'}    date  divorces  margarine  normalized divorces  normalized margarine
0  2000       5.0        8.2                 1.00              1.000000
1  2001       4.7        7.0                 0.94              0.853659
2  2002       4.6        6.5                 0.92              0.792683
3  2003       4.4        5.3                 0.88              0.646341
4  2004       4.3        5.2                 0.86              0.634146
5  2005       4.1        4.0                 0.82              0.487805
6  2006       4.2        4.6                 0.84              0.560976
7  2007       4.2        4.5                 0.84              0.548780
8  2008       4.2        4.2                 0.84              0.512195
9  2009       4.1        3.7                 0.82              0.451220

In [4]:
ct4.df

   date  divorces  margarine  normalized divorces  normalized margarine
0  2000       5.0        8.2                 1.00              1.000000
1  2001       4.7        7.0                 0.94              0.853659
2  2002       4.6        6.5                 0.92              0.792683
3  2003       4.4        5.3                 0.88              0.646341
4  2004       4.3        5.2                 0.86              0.634146
5  2005       4.1        4.0                 0.82              0.487805
6  2006       4.2        4.6                 0.84              0.560976
7  2007       4.2        4.5                 0.84              0.548780
8  2008       4.2        4.2                 0.84              0.512195
9  2009       4.1        3.7                 0.82              0.451220

In [5]:
print("hi")

hi